*{margin: 0; padding: 0; box-sizing: border-box;}


@font-face {
  font-family: Regular;
  src: url(../fonts/OpenSans-Regular.woff);
}

@font-face {
  font-family: Bold;
  src: url(../fonts/OpenSans-Bold.woff);
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;

  position: relative;

  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 30px 15px 98px 15px; 

  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: inline-flex;
  flex-wrap: nowrap;
}

a.menu-link:hover {
  color: #ffffff;

  text-decoration: underline;
  text-decoration-color: #d1d1cf;
}


.page-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Bold;
  
  line-height: 1.6;
}


/*cвойства для section */

.section {
  font-size: 20px;
}

.container-title-decoration {
  font-family: Bold;
  
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.container-title-decoration:after {
  content: "";
  display: block;
  width: 3.5em;
  height: 0.15em;
  background-color: #b59f5b;
  opacity: 0.4;

  position: absolute;
  top: 145%;
  right: 3.3em;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 20px;
  justify-content: flex-start;

}

.container1-news,
.container2-news,
.container3-news,
.container4-news {
  background-color: #606260;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;

  z-index: 1;
}

.container2-news,
.container3-news,
.container4-news {
  margin-left: 3px;
}

.container1-news {
  background-image: url(../images/trend1.jpg);
}
.container2-news {
  background-image: url(../images/trend2.jpg);
}
.container3-news {
  background-image: url(../images/trend3.jpg);
}
.container4-news {
 background-image: url(../images/trend4.jpg);
}
 
.container1-news:after,
.container2-news:after,
.container3-news:after,
.container4-news:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}


.container-new-one,
.container-new-two,
.container-new-three,
.container-new-four {
  border: solid 3px #8f845d;
}

.news-name {
  font-family: Bold;
  font-size: 100%;
  text-transform: uppercase;
  line-height: 1.2;
  color: #ffffff;
}


.main-aside {
  display: flex;
  margin: 0 auto;
}


/* свойства для main */

.posts-preview {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.post-photo {
  background-color: #eff6f1;
}

.post-img {
 vertical-align: middle;
 width: 100%;
 height: 100%;
}

.category-list {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-category-items {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: top;
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.category-item:nth-child(n + 2) {
  margin-left: 20px;

}

.post-category {
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
}

.post-category:hover {
  border-bottom: solid 2px #b59f5b;
}

.post-category,
.post-name {
  text-decoration: none;
}

.post-name {
  font-size: 20px;
}

.post-name-link {
  font-family: Bold;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 38px;
}

.post-date {
  font-family: Regular;
  font-size: 12px;

  color: #888888;
  text-transform: lowercase;
  margin-top: 0;
}

.author {
  font-family: Bold;
  font-size: 12px;

  color: #000000;

  margin-left: 15px;
  margin-top: 0;
}

.post-description {
  display: block;

  font-family: Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #0f0d0e;

  margin-top: 40px;
}

.description:nth-child(1) {
  margin-bottom: 25px ;
}

/* свойства для aside  */
.page-widget-aside {
  width: 274px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  
  font-size: 0;
  padding-top: 0;
}

.widget-title {
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;

  margin-top: 0;
  margin-bottom: 22px;  

  position: relative;
}

.widget-title:after {
  content: "";
  width: 70px;
  height: 4px;
  text-decoration: underline;
  background-color: #e1d9bd;
  opacity: 0.4;

  position: absolute;
  top: 30px;
  right: 100px;
}

.section-widget {
  margin-bottom: 58px;
}

.last-post {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 0;
  margin-top: 20px;
}

.last-post-photo {
  width: 70px;
  background-color: #f4f7f6;
}

.last-post-img {
  width: 70px;
  vertical-align: middle;
}

.last-post-date {
  font-family: Regular;
  font-size: 12px;
  text-transform: lowercase;
  color: #000000;
  opacity: 0.54;
}

.last-post-link {
  display: inline-block;
  font-family: Bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}

.last-post-link,
.keywords-link,
.subject-link {
  text-decoration: none;
}

.last-post-preview {
  margin-left: 20px;
}

.page-search {
  margin-top: 55px;
  position: relative;
}

.field {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 48px;
  border: none;
  background-color: #f4f7f6;

  display: inline-block;
  vertical-align: middle;

  height: 48px;
  width: 100%;

  outline: none;
  -webkit-appearance: none;
}

.button {
  height: 48px;
  width: 48px;

  display: inline-block;
  vertical-align: middle;

  border: none;

  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;

  position: absolute;

  top: 0px;
  right: 0;
}

.field-search,
.btn-search {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.field-log-in {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 10px;

  border: none;
  background-color: #f4f7f6;

  display: inline-block;
  vertical-align: middle;

  height: 48px;
  width: 100%;

  outline: none;
  -webkit-appearance: none;

  margin-top: 25px;
}

.field-log-in:focus {
  outline-style: none;
}
.field-log-in:hover {
  border-bottom: solid 2px #ebe7d7;
}

.submit {
  border: none;
  padding: 15px 55px;
  color: #ffffff;

  width: 100%;

  background-color: #b59f5b;
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;

  margin-top: 18px;
}

.posts-keywords {
  display: flex;

  width: 100%;
  padding: 0;
  margin-top: 36px;
}

.keywords-list {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.keyword-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 0;
  margin-left: 5px;
}

.keyword-item:nth-child(n + 4) {
  margin-top: 8px;
}

.keyword-item:nth-child(1) {
  margin-left: 0;
}

.keyword-item:nth-child(4) {
  margin-left: 0;
}

.keyword-item:nth-child(7) {
  margin-left: 0;
}

.keyword-link {
  display: block;
  font-family: Bold;
  font-size: 12px;

  text-transform: uppercase;

  text-align: center;

  background-color: #ffffff;
  border: solid 3px #eeeeee;

  padding: 5px 12px;
}

.keyword-link:focus {
  border: solid 3px #b59f5b;
}

.keyword-link:hover {
  outline: none;
  font-weight: bold;
}

.keyword-link:link,
.keyword-link:active,
.keyword-link:visited {
  text-decoration: none;
  color: #000000;
}

.page-list-category {
  margin-top: -35px;
}

.list-subjects {
  margin: 0;
}

.subjects {
  padding: 0;
}

.subject {
  list-style-type: none;
  font-family: Bold;
  font-size: 14px;
  color: #000000;

  border-bottom: solid 2px #eeeeee;

  padding-top: 10px;
  padding-bottom: 10px;
}


.subject-link:link {
  text-decoration: none;
  color: #000000;
}

.subject-link:active {
  text-decoration: none;
  color: #000000;
}

.subject-link:visited {
  text-decoration: none;
  color: #000000;
}


.item:first-child {
  text-transform: capitalize;
}

.meta {
  font-family: Bold;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
}

/*Свойства для section-footer */


.section-footer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
  padding-bottom: 24px;

}

.products {
  display: flex;

}

.product {
  display: flex;
  flex-direction: column;

  padding-bottom: 24px;
}

.product-imgbox {
  margin: 0 auto;
  width: 100%;
  background-color: #eff6f1;
}

.product-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 300px;
  flex-grow: 1;

  outline-offset: 20px;
  outline: 3px solid #d3c59d;

  margin: -10px auto 0;

}

.product-description {
  font-family: Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #0f0d0e;
  padding-right: 5px;
}

.product-link {
  color: #bba76b;
  text-decoration: none;
}

.product-link:active {
  color: #bba76b;
  text-decoration: underline;
}

.product-title {
  font-family: Bold;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-top: 35px; 
}

.product-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 25px;
}

.product-price {
  font-family: Bold;
  font-size: 20px;
  color: #0f0d0e;
  display: flex;
}

.product-price-old {
  text-decoration: line-through;
  font-family: Bold;
  font-size: 14px;
}

.product-old-rub {
  font-family: Bold;
  font-size: 14px;
  font-weight: 900;
  margin-left: 0.2em;
}

.product-rub {
  font-family: Bold;
  font-size: 20px;
  font-weight: 900;
  margin-left: 0.2em;
}

.product-button {
  border: none;
  background-color: #b59f5b;
  padding: 0.9em 1.8em;

  text-transform: uppercase;
  letter-spacing: 0.5px;

  font-family: Bold;
  font-size: 14px;
  color: #ffffff;
}


/*cвойства для footer  */
.footer {
  width: 100%;
  margin: 48px auto 40px auto;
}

.footer-link {
  display: flex;
  box-sizing: border-box;
  padding: 25px 0;

  background-color: #f4f7f6;
  text-align: center;
}

.widget-socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  vertical-align: middle;
  padding: 0;
  list-style-type: none;
}

.widget-social:nth-child(n + 2) {
  padding-left: 25px;
}

.social-icon {
  display: block;
  text-decoration: none;
}

.social-icon-twitter::after {
  content: "";
  display: inline-block;

  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  background-image: url(../svg/004-twitter.svg);
}

.social-icon-pinterest::after {
  content: "";
  display: inline-block;

  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-image: url(../svg/001-pinterest.svg);
}

.social-icon-facebook::after {
  content: "";
  display: inline-block;

  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-image: url(../svg/002-facebook-logo.svg);
}

.social-icon-instagram::after {
  content: "";
  display: inline-block;

  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-image: url(../svg/005-instagram.svg);
}

.social-icon-tumblr::after {
  content: "";
  display: inline-block;

  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.copyright {
  margin-top: 72px;
  text-align: center;
}

.copyright-link {
  text-decoration: none;
  font-family: Bold;
  font-size: 12px;
  color: #999999;
}

.copyright-link:link,
.copyright-link:active,
.copyright-link:visited {
  text-decoration: none;
  color: #999999;
}


/*Свойства  для popup*/

.popup {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

   padding-top: 240px;
   padding-bottom: 240px;

  
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-grow: 1;

  z-index: 99;
}

.popup-container {
  max-width: 390px;
  margin: auto;
  
  background-color: #ffffff;
  position: relative;

  padding: 0 32px;
}

.feedback {
  background-color: #ffffff;
  color: #000000;  
  margin-top: 46px;
  margin-bottom: auto;
}

.container-title-popup {

  font-family: Bold;
  
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  position: relative;
  margin-bottom: 1.7em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
}

.container-title-popup:after {
  content: "";
  display: block;
  width: 3.2em;
  height: 0.2em;
  background-color: #b59f5b;
  opacity: 0.4;

  position: absolute;
  top: 120%;
  right: 3.5em;
}


.form-group {
  margin-bottom: 30px;
}

.select-group, .form-hint, .radio-group-text  {
  font-family: Regular;
  font-size: 13px;
  color: #000000;
  text-transform:  none;
}

.select {
  display: block;
  box-sizing: border-box;

  width: 100%;
  height: 48px;
  
  padding-left: 20px;
  margin: 10px 0 0 0;
  border: none;
  background-color: #f4f7f6;

  font-family: Regular;
  font-size: 13px;
  color: #000000;
  opacity: 0.54;
}

.select { 
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select { 
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position:  center center;
  background-position: right 10px center;
}

.select:focus {
  outline: none;
}
.select:hover {
  border-bottom: solid 2px #ebe7d7;
}

.popup-form-row {
  display: block;
  width: 230px;
}

.radio-group {
  display: inline-block;
  margin-top: 8px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  
  width: 15px;
  height: 15px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center  center;
  background-size: 15px;
}

.radio-group-text::before {
  display: inline-block; 
  vertical-align: middle;
}     

.radio-group-text::before {
  margin-right: 8px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 10px;
}
.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  width: 1px;
} 

.feedback-field {
  margin-top: 30px;
  width: 100%;
}


.textarea {
  width: 100%;
  height: 130px;

  resize: none;
}

.textarea {
  box-sizing: border-box;
  padding-top: 18px;
  padding-left: 20px;
  background-color: #f4f7f6;
  border: solid 1px #b59f5b;
  margin-top: 5px;
}


.textarea:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 2px #ebe7d7;
  border-left: none;
}

.textarea:hover {
  outline: none;
}

.feedback-button {
  width: 100%;
  height: 48px;
  margin: 26px 0 35px 0;
  
  background-color: #b59f5b;
  border-top: solid 2px #e6dfc8;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.feedback-button:hover {
  border-top: solid 2px #b9b29b;  
}

.feedback-button-label {
  font-family: Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.popup-close-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px; 
  width: 1px;
}

.popup-close:after {
  content: "";
  display: block;

  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: 16px;
  
  width: 16px;
  height: 16px;
  
  position: absolute;
  top: -25px;
  right: 0px;  
}

.popup-close {
  font-size: 0;
  border: none;
}

.hidden {
  display: none;
}

/* MEDIA */

@media (min-width: 1201px) {

.header {
  background-image: url(../images/banner-bg.jpg);

  height: 450px;
}

.container-header {
  max-width: 1200px;
  width: 100%;
}

.page-header {
  justify-content: space-between;
} 

.logo {
max-width: 180px;
width: 100%;
}

.page-menu {
  display: flex;
}

.menu-burger {
  display: none;
  visibility: hidden;
}

.menu {
  display: flex;
  margin-top: 10px;
}

.menu-list-item {
  display: inline-flex;
  flex-wrap: nowrap;
  vertical-align: baseline;

  margin-right: 30px;
}

.menu-list-item:last-child {
  margin-right: 0;
}

.menu-link {
  font-family: Regular;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.page-title {
  margin-top: 100px;
  max-width: 700px;
}

.title {
  font-size: 1em;
  line-height: 1.6;
}


/*Для .section*/

.section {
  width: 100%;
  margin: 55px auto;
}

.container1-news,
.container2-news,
.container3-news,
.container4-news {
  width: calc(25% - 9px);
  height: 320px;
  flex-grow: 1;

  padding: 0 20px 15px 20px;
}

.container-new-one,
.container-new-two,
.container-new-three,
.container-new-four {
  
  padding: 12px 5px 30px 30px;
  width: 100%;
  flex-shrink: 1;
}

.container-title-decoration {
  font-size: 1em;
}

.container-new-one  {
  padding-right: 70px ;
}


/*Свойства для main*/

.posts-content {
  margin-right: 125px;
}

.main-aside {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 1201px;
  width: 100%;
  padding: 0 15px 64px 15px;
}

.posts-preview:nth-child(n + 2) {
  margin-top: 60px;
}

.post-photo {
  width: 380px;
  margin-right: 30px;
  background-color: #eff6f1;
}

.post-info {
  max-width: 370px;
}

.post-name-link {
  font-size: 1em;
}

/*Свойства для section-footer*/

.section-footer {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 1201px;
  padding-left: 15px;
  padding-right: 15px;
  }

.products {
  margin: 0 auto;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box; 
  padding-left: 3px;
  padding-right: 3px;
  }

.product {
  max-width: 336px;
  width: 100%;
  }

.product:nth-child(2) {
  margin-left: 64px;
  margin-right: 64px;
  }

.product-imgbox {
  max-width: 300px;
  height: 200px;
  }

  
.footer {
  width: 1200px;
  padding: 0 15px;
}

.container-title-popup {
  font-size: 20px;
}

}



@media (max-width: 1200px) and (min-width: 641px) {

  .header {
  background-image: url(../images/banner-bg-tablet.jpg);
}

  .container-header {
  max-width: 1200px;
  min-width: 641px;
  width: 100%;
  padding-top: 44px;

}

  .page-header {
  padding: 0 15px;
  justify-content: space-between;
}

  .logo {
  max-width: 158px;
  width: 100%;
}

  .page-menu {
  display: none;
}

  .menu-burger {
  display: block;
  height: 20px;
  margin-top: 8px;
}

  .b1, .b2, .b3 {
  
    width: 24px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
}

  .page-title {
  max-width: 615px;
  margin-top: 85px;
  margin-bottom: 15px;
}

  .title {
  font-size: 0.889em;
  line-height: 1.375;


}


/*Для .section*/

  .section {

  max-width: 1200px;
  min-width: 641px;

  margin-top: 42px;
  margin-bottom: 50px;
}

.container-title {
  margin-bottom: 26px;
}

.container-title-decoration {
  font-size: 0.9em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  min-width: 641px;
  width: 100%;
 
}


/* Свойства для Main*/

.main-aside {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 641px;
  max-width: 1201px;
  width: 100%;
  padding: 0 35px;
  margin-bottom: 25px;
}

.posts-content {
 margin-right: 34px;
 width: calc(100% - 306px)
}

.posts-preview {
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: solid 3px #eeeeee;
  padding-bottom: 20px;
  flex-grow: 1;
}

.posts-preview:nth-child(n + 2) {
  margin-top: 42px;
}

.post-photo {
  width: 100%;
}

.post-img {
   width: 100%;
}

.post-name-link {
  font-size: 0.85em;

  margin-bottom: 26px;
}

.post-description {
  margin-top: 25px;
}

.description:nth-child(1) {
  margin-bottom: 5px ;
}

.last-post {
  width: 272px;
}


/*Свойства для aside*/

.page-search {
  margin-top: 63px;
}

.field-log-in {
  margin-top: 15px;
}

.section-widget:nth-child(3) {
  margin-bottom: 40px;
}

.keyword-link {

  border: solid 4px #eeeeee;

  padding: 3px 12px;
}

.keyword-item:nth-child(n + 4) {
  margin-top: 6px;
}

.keyword-item {
  margin-left: 7px;
}

.keyword-item:nth-child(n + 4) {
  margin-top: 8px;
}

.keyword-item:nth-child(1) {
  margin-left: 0;
}

.keyword-item:nth-child(4) {
  margin-left: 0;
}

.keyword-item:nth-child(7) {
  margin-left: 0;
}


.subject {
  padding-top: 15px;
}



/*Свойства для section-footer*/

.section-footer {
  justify-content: center;
  width: 100%;
  padding: 0 35px;
  max-width: 1200px;
  min-width: 641px;
  margin-bottom: 50px;
  font-size: 20px;
  }

  .section-footer-title {
  margin-bottom: 5px;
}

.products {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
    
  padding: 0 20px;
  }

  .product {
    width: 45%;
  }

  .product:nth-child(3) {
    margin-top: 20px;
  }

  .product-title {
    font-size: 17px;
  }

  .product-imgbox {
    width: 38vw;
    height: 29.56vw;
  }

  .product-img-preview {
   
    width: 38vw;
    height: 29.56vw;
  }


  .product-content {
    box-sizing: border-box;
    width: 100%;
  }

 .product-footer {
  margin-bottom: 10px;
 }

  .footer {
   max-width: 1200px;
   min-width: 641px;
   padding-left: 35px;
   padding-right: 35px;
}

.copyright {
  margin-top: 50px;
}

.container-title-popup {
  font-size: 18px;
  margin-bottom: 2em;
}

.container-title-popup:after {
  width: 3.7em;
  height: 0.15em;
  top: 135%;
  right: 3.5em;
}


.radio-group-text::before {
 
  width: 25px;
  height: 25px;
  background-size: 25px;
}

  .radio-group:nth-of-type(n+2) {
  margin-left: 25px;
}

.popup-close:after {
  
  background-size: 30px;
  width: 30px;
  height: 30px;

  top: -40px;
   
}
}


@media (max-width: 640px) {
   
  .header {
  background-image: url(../images/banner-mobile.jpg);
  max-width: 640px;
  min-width: 320px;
  min-height: 639px ;
  width:  100%;

}

.container-header {

  width: 100%;
  min-height: 639px;
  height: 100%;
}

.logo-link {
  order: 2;
  margin-top: 165px;
}

.logo {
  max-width: 270px;
  width: 75vw;
}

.page-header {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page-menu {
  display: none;
}

.menu-burger {
  display: block;
  height: 20px;
  align-self: flex-end;

  order: 1;
}

.b1, .b2, .b3 {
    width: 24px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px 0;
}

.page-title {
    margin-top: 40px;
    width: 88.8vw;
    }

.title {
  font-size: 0.578em;
  line-height: 1.38;
}

/*Для .section*/


.section {
  width:  100%;
 
  margin: 44px auto;
}


.container-title-decoration {
  font-size: 0.8em;
  position: relative;
} 

.container-title-decoration:after {
  top: 2em;
  right: calc(50% - 35px);
  width: 70px;
  height: 4px;
  text-decoration: underline;
  background-color: #e1d9bd;
  opacity: 0.4;

  position: absolute;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
  width: 100%;
}

.main-aside {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
 
  width: 100%;
  margin-top: 0;

  padding: 0 15px;
}

.posts-preview {
  width: 100%;
  
  border-bottom: solid 3px #eeeeee;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.posts-preview:nth-child(n+2) {
  margin-top: 33px;
}

.posts-preview:last-child {
  margin-bottom: 0;
}

.post-photo,
.post-info {
  width: 100%;
}

.category-list {
  margin-top: 10px;
  margin-bottom: 5px;
}


.post-name-link {
  font-size: 0.8em;
  margin-bottom: 12px;
}

.post-description {
  font-size: 14px;
  margin-top: 15px;
}

/*Свойства для main-aside*/

.page-widget-aside {
  
  width:  100%;
  margin-top: 40px;
  flex-grow: 1;
}

.widget-aside {
   
  width:  100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.section-widget {
  margin-bottom: 44px;
}

.widget-title {
  font-size: 16px;
}

.last-post {
  margin-top: 45px;
}

.article {
  margin-top: 20px;
}

.page-search {
  margin-top: 65px;
}

.posts-keywords {
  width: 100%;
 }

.keywords-list {
  width: 100%;
 } 

.keyword-item:nth-child(n + 5) {
  margin-top: 5px;
  margin-left: 7px;
} 

.keyword-item:nth-child(4) {
  margin-top: 0;
  margin-left: 7px;
}

.keyword-item:nth-child(5) {
  margin-left: 0;
}

.keyword {
  font-size: 3.33vw;
}

.list-subjects {
  margin-top: 15px;
}

.subject {
  padding-top: 12px;
}

.section-widget:nth-child(3){
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.widget-title {
  margin: 0 auto;
}

.tags {
  width: 100%;
}

.widget-title:after {
  top: 2em;
  right: calc(50% - 35px);
}


/*Свойства для section-footer*/

.section-footer {
  margin: 0 auto;
  align-items: center;
  max-width: 640px;
  width: 100%;
  padding: 0 15px;
}

.products {
    
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
    }

.product {
  
  width: calc(100% - 40px);
}

.product:nth-child(2) {
  margin-top: 26px;
  margin-bottom: 26px;
}

.products {
  margin-top: 10px;
}

.product-title {
  font-size: 17px;
}

.product-imgbox {
  width: 100%;
  height: 85.8%;

  padding-right: 4px;
  }


.product-img-preview {
  width: 100%;
  height: 100%;
  }

.product-content {
  box-sizing: border-box;
  width: 100%;
  padding-right: 4px;
  }


/*Свойства для footer*/

.footer {
   margin-top: 45px;

   width: 100%;

   padding-left: 15px;
   padding-right: 15px;
}

.copyright {
  margin-top: 42px
}

/*Свойства для Popup*/

.popup {
  padding-top: 56px;
}

.popup-container {
 max-width: 330px; 
 width: 92vw;
 padding: 0 23px;
}

.feedback {
  margin-top: 25px;
}

.container-title-popup {
  font-size: 16px;

  margin-bottom: 2.2em;
}

.container-title-popup:after {
  width: 4.1em;
  height: 0.25em;
  
  top: 132%;
  right: 3em;
}

.select { 
  background-position: right 15px center;
}

.radio-group-text::before {
  
  width: 25px;
  height: 25px;

  
  background-size: 25px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 30px;
}

.select,
.feedback-field, 
.feedback-button,
.textarea {
  width: 100%;
}

.feedback-field {
  margin-top: 25px;
  }

.popup-close:after {
  background-size: 28px;
  
  width: 28px;
  height: 28px;
  
  position: absolute;
  top: -32px;
}

}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: landscape) {
.container1-news,
.container2-news,
.container3-news,
.container4-news {
  width: calc(25% - 0.2em);
  height: 15em;
  padding: 5px 17px 14px 17px;
  flex-grow: 1;
  
}

.container1-news {
  margin-left: 0;
}

.container2-news,
.container3-news,
.container4-news {
  margin-left: 0.2em;
}

.container-new-one,
.container-new-two,
.container-new-three,
.container-new-four {
  width: 95%;
  padding: 0 5px 18px 5px;
}

.post-category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.news-name {
  display: block;
  font-size: 2.2vw;
  line-height: 1.29;
}
}


@media (max-width: 1200px) and (min-width: 641px) and (orientation: portrait) {

.container1-news,
.container2-news,
.container3-news,
.container4-news {
  width: calc(50% - 3px);
  height: 12.2em;
  padding: 37px 20px 14px 17px;
  
}

.container2-news,
.container4-news {
  margin-left: 0.25em;
}

.container1-news,
.container3-news {
  margin-left: 0;
}

.container1-news,
.container2-news {
  margin-bottom: 0.15em;
}

.container-new-one,
.container-new-two,
.container-new-three,
.container-new-four {
  width: 100%;
  padding: 8px 30px 28px 30px;

}

.news-name {
  display: block;
  font-size: 0.85em;
  line-height: 1.29;
}

}



@media (max-width: 640px) and (orientation: landscape) {

.container {
  flex-direction: row;
  justify-content: space-between;
}

.container1-news,
.container2-news,
.container3-news,
.container4-news {
  padding: 0 15px 15px 15px;
  min-height: 230px;
  height: 100%;
  width: calc(50% - 3px);
}

.container1-news,
.container2-news,
.container3-news {
  margin-bottom: 0.25em;
}

.container2-news,
.container3-news,
.container4-news {
  margin-left: 0;
}

.container-new-one,
.container-new-two,
.container-new-three,
.container-new-four {
  padding: 0 20px 25px 20px;
  width: 100%;
}

.news-name {
  font-size: 0.8em;
  line-height: 1.25;
}


}

@media (max-width: 640px) and (orientation: portrait) {

.container {
  flex-direction: column;
}

.container1-news,
.container2-news,
.container3-news,
.container4-news {
  padding: 0 15px 15px 15px;
  min-height: 230px;
  height: 100%;
}

.container1-news,
.container2-news,
.container3-news {
  margin-bottom: 0.25em;
}

.container2-news,
.container3-news,
.container4-news {
  margin-left: 0;
}

.container-new-one,
.container-new-two,
.container-new-three,
.container-new-four {
  padding: 0 20px 25px 20px;
  width: 100%;
}

.news-name {
  font-size: 0.8em;
  line-height: 1.25;
}

}
